{% load static %}



<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static '/js/bulma-toast.min.js' %}"></script>
<script src="{% static '/js/scripts.js' %}"></script>